<footer class="site-footer h-card">
    <div class="wrapper">
        <div class="footer-col-wrapper row">

            <div class="footer-col col-4">
                <i class="fas fa-code"></i> <a href="https://nemtech.github.io">Developer Center</a>
            </div>

            <div class="footer-col col-4">
                <i class="fab fa-slack"></i> <a  href="https://join.slack.com/t/nem2/shared_invite/enQtMzY4MDc2NTg0ODgyLTFhZjgxM2NhYTQ1MTY1Mjk0ZDE2ZTJlYzUxYWYxYmJlYjAyY2EwNGM5NzgxMjM4MGEzMDc5ZDIwYTgzZjgyODM">General Discussion</a>
            </div>

            <div class="footer-col col-4">
                <i class="fab fa-stack-overflow"></i><a  href="https://stackoverflow.com/tags/nem/"> Development questions</a>
            </div>
        </div>

    </div>
</footer>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ "/assets/custom.js" | relative_url }}"></script>